@font-face {
    font-family: 'MyFont';
    src: url('./fonts/HussarBoldWeb-bf92.woff') format('woff2'),
      url('./fonts/HussarBoldWeb-bf92.woff') format('woff');
}

* {
    margin: 0;
}

body {
    background-color: black;
}

/* Header Styling */
#header {
    color:#57171c;
    background-color: #cfcbbc;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    font-family: "MyFont";
}

.headerTitle {
    font-size: 30px;
}

.home, .menu, .about {
    color:#781720;
    background-color: #b0ac9d;
    border-radius: 20px;
    width: 100px;
    font-size: large;
}

/* styling for home tab */
.burgerPic {
    width: 100%;
    height: auto;
} 

.squidPic {
    position: absolute;
    top:300px;
    height: 350px;
    width: 350px;
}

.imageTxt {
    position: relative;
    top:75px;
    left: 45px;
    color: red;
    font-size: 40px;
}

/* styling for menu tab */
.menuContainer {
    display: grid;
    grid-template-rows: repeat(2, 300px); /* CONTINUE FROM HERE EDWARD :) */
    grid-template-columns: repeat(3, 200px);
    padding: 50px;
    justify-content: space-evenly;
    gap:80px;
}

.menuHeader {
    color: darkred;
}

.menuDiv {
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    width: 200px;
    border: 2px solid brown;
    border-top: 6px solid brown;
    border-right: 6px solid brown;
    background-color: #c9af98;
    opacity: 0.5;
}

.menuName {
    color:darkred;
    font-size: 20px;
    font-weight: bold;
}

.menuInfo {
    font-size: 20px;
    margin-top: 40px;
    color:blue;
}

/* styling for about tab */
.aboutContainer {
    display: grid;
    justify-content: center;
}









